{% extends "base.html" %}

{% block main %}
<h2>Topic List</h2>

{% load main_filters %}
{% load pagination_tags %}

<table class="table_style">

	<tr> 
		<th>topic</th>
		<th>group</th>
		<th>created at</th>
	</tr>
	{% autopaginate topics %}
	{% for topic in topics %}
		<tr>
			<td style="text-align:left;width:50%;">
				<a href="/groups/{{ topic.group.id }}/topics/{{ topic.id }}/">{{ topic.name|limit:30 }}</a>
			</td>
			<td style="width:30%">
				<a href="/groups/{{ topic.group.id }}/">{{ topic.group.name|limit:20 }}</a>
			</td>
			<td style="width:20%">{{ topic.create_time|date:"F j, Y G:i:s" }}</td>
		</tr>
	{% endfor %}
	{% paginate %}	
	<div style="clear:both;"></div> 
	  
</table> 


{% endblock %}